*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.cut{
  text-decoration: line-through;
}
body{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-container{
  min-width: 90%;
  min-height: auto;
  padding: 20px;
  border: 1px solid black;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #bacea6;
}
.inner{
  border: 1px solid black;
  min-width: 290px;
  max-width: 90%;
  min-height: auto;
  padding: 20px;
  max-height: 90%;
  border-radius: 20px;
  box-shadow: 3px 6px 1px #353c5585;

}
.todo-wrapper{
  padding: 15px 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}
.new-todo{
  display: flex;
  justify-content: center;
  column-gap: 10px;
}
.inputElem{
  padding: 5px;
  font-size: .8rem;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.502);
  width: 150px;
}
.add-btn{
  padding: 5px 1rem;
  font-size: .9rem;
  border-radius: 5px;
  background: #2cf9b2;
  border: none;
}
.item{
  background-color: rgba(0, 0, 0, 0.412);
  display: flex;
  justify-content: space-between;
  padding: 4px 10px;
  border-radius: 5px;
  align-items: center;
  text-transform: capitalize;
  background: rgba(196, 175, 175, 0.5) ;
}
.text{
  width: fit-content;
  padding: 0 10px;
  border: 1px solid black;
}
.btns{
  display: flex;
  column-gap: 3px;
}
.edit, .remove , .done{
  background-color: #f9d32c;
  padding: 5px 10px;
  font-size: .9rem;
  border-radius: 5px;
  border: none;
}
.remove{
  background-color: rgba(255, 0, 0, 0.502);
}
.done{
  background-color: #80b156;
}
